.user-info__job {
  margin: 16px 0 0 0;
  max-width: 336px;
  font-weight: 400px;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
}
@media (max-width: 420px) {
  .user-info__job {
    max-width: 282px;
    width: 189px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
    text-align: center;
  }
}