.logo {
    width: 142px;
    align-self: flex-start;
    margin-bottom: 41px;
}

@media (max-width: 960px) {
    .logo {
        width: 104px;
        padding-left: 27px;
        margin-bottom: 32px;
        margin-top: 28px;
    }
}