.data__toptext {
    margin: 0;
    width: 336px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 420px) {
    .data__toptext {
        width: 217px;
        margin-left: 46px;
    }
}