.element__trash {
    background: url(../../../images/Trashicon.svg) center no-repeat;
    background-color: transparent;
    border: none;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
  }
  