.element__like {
  background: url(../../../images/inactivelike.svg);
  background-color: transparent;
  border: none;
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: transform .3s linear;
  margin-right: 5px;
  background-repeat: no-repeat;
}

.element__like:hover {
  opacity: 0.5;
}